<!Doctype html>
<html lang="IT">
<head>
<title>SM Credit Consulting</title>
<meta name="description" conent="{{site.description}}"
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"> 
  

  <link rel="stylesheet" href="{{site.baseurl}}css/sm.css">

</head>



<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- ADD A NAV BAR-->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}index.html/#home"><span id="sm">SM</span>/<span id ="crc">Credit Consulting</span></a>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}#chisiamo">CHI SIAMO</a></li>
        <li><a href="{{site.baseurl}}#servizi">SERVIZI</a></li>
        <li><a href="{{site.baseurl}}#lavoro">COME LAVORIAMO</a></li>
        <li><a href="{{site.baseurl}}#contact">CONTATTO</a></li>
      </ul>
    </div>

</div>
</nav>

