


<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- ADD A NAV BAR-->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/index.html/#home"><span id="sm">SM</span>/<span id ="crc">Credit Consulting</span></a>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#chisiamo">CHI SIAMO</a></li>
        <li><a href="#servizi">SERVIZI</a></li>
        <li><a href="#lavoro">COME LAVORIAMO</a></li>
        <li><a href="#contact">CONTATTI</a></li>
      </ul>
    </div>

</div>
</nav>

